<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div>
    <canvas #myCanvas width="800" height="480" style="background:lightgray;"></canvas>
    <div style="text-align:left;">
      <table style="width:100%">
        <tr>
          <td style="text-align:left; vertical-align:top">
            <button (click)="resetScene()">New</button>
            <button [disabled]="isNoPreviousSaveFound()" (click)="loadScene()">Load</button>
            <button (click)="saveScene()">Save</button>
          </td>
          <td style="text-align:right; vertical-align:top;">
              <button (click)="addSquare()">+Square</button>
              <button (click)="addTriangle()">+Triangle</button>
              <button (click)="addCircle()">+Circle</button>
              <button (click)="addStar()">+Star</button>
          </td>
        </tr>
        <tr>
          <td style="text-align:left; vertical-align:top">
            <div *ngIf="appShowProperties">
              <p><strong>Properties of object #{{appShapeId}}</strong></p>
                <div style="padding-bottom: 0.5em">
                  <span style="font-size: 12px">Layer = {{selectedShapeLayer}}</span>
                  <button (click)="incrementSelectedLayer()">+</button>
                  <button (click)="decrementSelectedLayer()">-</button>
                </div>
                <span style="font-size: 12px">Color</span> <input type="color" [(ngModel)]="selectedShapeColor" placeholder="color" value="{{selectedShapeColor}}" />
              <button style="color:blue" (click)="cloneSelectedShape()">Clone</button>
              <button style="color:green" (click)="mirrorHSelectedShape()">H.Mirror</button>
              <button style="color:green" (click)="mirrorVSelectedShape()">V.Mirror</button>
              <button style="color:red" (click)="deleteSelectedShape()">Delete</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

